<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<script type="text/javascript">
	$(function(){
		addStyleByPage();
		$(".question").click(function(){
			$(".answer").hide();
			var check = $(this).attr("value");
			if (check=="open"){
				$(this).next().slideUp();
				$(this).removeAttr("value");
			}else{
				$(this).attr("value","open");
				$(this).next().slideDown();
			}
		});
	});

	function addStyleByPage(){
		var pages = $(".seq-page li");
		pages.find("a").eq((page-1)%10).addClass("page-selected");
	}

</script>
<table>
	<thead>
		<tr>
			<th>구분</th>
			<th>질문</th>
		</tr>
	</thead>
	<tbody>
		<th:block th:each="dto:${list}">
			<tr class="question">
				<td  th:text="${dto.division}">division</td>
				<td class="que flex-between">
					<span th:text="${dto.question}">question</span>
				</td>
			</tr>
			<tr class="answer" style="display: none">
				<td colspan="2" th:text="${dto.answer}">answer</td>
			</tr>
		</th:block>
	</tbody>
</table>

<div class="pagging flex-center">

	<ul class="flex">
		<!-- 페이지 번호는 1번부터 시작한다. 1번부터 시작하지 않는 페이지값 ${pageInfo.from}가 1보다 큰 경우는 '<'보이지 않게 처리 -->
		<li th:if="${pageInfo.from > 1}">
			<a onclick="pageClicked(1)">&lt;&lt;</a>
		</li>
		<li th:if="${pageInfo.from > 1}">
			<a th:onclick="|pageClicked(${pageInfo.from-1})|">&lt;</a>
		</li>
	</ul>
	
	<ul class="flex-center seq-page">
		<li th:each="page:${#numbers.sequence(pageInfo.from,pageInfo.to)}">
			<a th:onclick="|pageClicked(${page})|">[[${page}]]</a>
		</li>
		<!-- 페이지 번호가 10개까지밖에 표현 안하니 11번은 10+1(${pageInfo.to+1})이니깐 넣어준다 -->
		<!-- to는 tot보다 커질수 없고 작거나 같을 경우만 존재한다.
		결국 to가 tot보다 작은경우만 '>'표현하자!
		같은경우는 마지막페이지니깐 표시하지않는다.ㅣ -->
		<li th:if="${pageInfo.to < pageInfo.tot}">
			<a th:onclick="|pageClicked(${pageInfo.to+1})|">&gt;</a>
		</li>
	</ul>
	
	<ul class="flex">
		<li th:if="${pageInfo.to < pageInfo.tot}">
			<a th:onclick="|pageClicked(${pageInfo.tot})|">&gt;&gt;</a>
		</li>
	</ul>
	
</div>
	

				