<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/faq.css">
<style type="text/css"></style>
<script type="text/javascript">
	var div;
	var divValue=[
		"영화관 이용",
		"L.POINT",
		"회원",
		"VIP/클럽멤버십",
		"온라인",
		"할인혜택",
		"관람권",
		"스토어",
		"스페셜관"
	];
	var i=0;
	var page=1;
	
	$(function(){
		div = $("#faq>.wrap .division ul li");
		//게시글 가져오는 최초실행하는 함수: default page=1, divValue[0]->영화관 이용
		faqList(divValue[i]);
		div.click(divClicked);
	});
	
	
	
	
	//faq의 division메뉴 선택시 처리하는 함수
	function divClicked(){
		//클릭된 li index번호
		i = $(this).index(); 
		//각 메뉴 클릭시 1페이지에서 시작하도록 리셋
		page=1; 
		
		//ajax처리
		faqList(divValue[i]);
		
		//클릭됐을때 background색 변경
		//1.모든li에 클래스 제거
		div.removeClass("memu-select");
		//2.클릭된 li에 background색 클래스 적용
		div.eq(i).addClass("memu-select");
	}
	
	//페이지 번호를 변경
	function pageClicked(pageNo){
		page = pageNo;
		faqList(divValue[i]);
	}
	
	function faqList(division){
		$.get(
				"/cs/faq-list?page="+page,
				{"division":division},
				function(result){
					/* result == faq-list.html */
					$(".list").html(result);
		});
	}
	
	
</script>
</head>
<body>
	<div class="header-wrap">
		<!-- header태그 삽입 -->
		<th:block th:insert="~{/common/commons :: header}" />
		
	</div>
	<main>
		<h1>main</h1>
		<div class="wrap view-size">
			<section id="cs-center">
				<h1>cs-center</h1>
				<div class="wrap">
					<p class="tit">고객센터</p>
					<nav id="cs-menu">
						<h1>cs-menu</h1>
						<div class="wrap">
							<ul class="flex">
								<li>FAQ</li>
								<li>공지사항</li>
								<li>1:1문의</li>
								<li>단체관람/대관문의</li>
								<li>분실물문의</li>
							</ul>
						</div>
					</nav>
					<section id="faq">
						<h1>faq</h1>
						<div class="wrap">
							<div class="division">
								<ul class="flex-between">
									<li class="memu-select">영화관이용</li>
									<li></li>
									<li>회원</li>
									<li>VIP/클럽멤버십</li>
									<li>온라인</li>
									<li>할인혜택</li>
									<li>관람권</li>
									<li>스토어</li>
									<li>스페셜관</li>
								</ul>
							</div>
							<div class="search-box flex-between">
								<div class="search">
									<input type="text" placeholder="검색어를 입력해주세요"/>
									<input type="button" value="검색"/>
								</div>
								<div class="one-to-one">
									<p>더 궁금한 점이 있거나, 이미 문의한 내용과 답변을 확인하려면?</p>
									<a href="">1:1문의 바로가기</a>
								</div>
							</div>
							<div class="list">
								
							</div>
						</div>
					</section>
				</div>
			</section>
		</div>

	</main>
	<!-- footer태그위치 -->
	<th:block th:insert="~{/common/commons :: footer}"/>
	
</body>
</html>
