@charset "UTF-8";

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.weather-city{
	width: 1000px;
	margin: 0 auto;
	font-size: 30px;
	font-weight: bold;
	color: cornflowerblue;
}

.weather-wrap{
	width: 1000px;
	margin: 0 auto;
}
.weather-wrap .weather-block{
	margin: 0 auto;
}
.weather-detail{
	text-align: center;
	margin-bottom: 10px;
}
.weather-temp{
	font-size: 16px;
}
#koImg{
	padding-left: 15px;
}